
{% extends 'base.html.twig' %}

{% block title %}forgot password{% endblock %}

{% block body %}
<header>
    <ul class="navbar navbar-dark bg-primary d-flex justify-content-around" >  
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a></li>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('app_login') }}">Connexion</a></li>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('app_register') }}">Inscription</a></li>
        
    </ul>
</header>
{{ form(form) }}
{% endblock %}