{% extends 'base.html.twig' %}

{% block title %}Ajoutez une video{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<p>Ajoutez une video ici!</p>
{{ form_start(form) }}
    {{ form_row(form.url) }}
    <button class="btn btn-lg btn-primary" type="submit">Ajoutez</button>
{{ form_end(form) }}
{% include 'footer.html.twig' %}
{% endblock %}