{% extends 'base.html.twig' %}

{% block title %}Modifiez un trick{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<p>Modifiez un trick ici!</p>
{{ form(form) }}
{% include 'footer.html.twig' %}
{% endblock %}