{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<p>Réinitialiser votre mot de passe ici!</p>
{{ form(form) }}
{% include 'footer.html.twig' %}
{% endblock %}