{% extends 'base.html.twig' %}

{% block title %}Create trick{% endblock %}

{% block body %}
To login, go to: <a href="{{ url('app_verify_email', {"token": token}) }}">Comfirmer votre email</a>.
Thanks!
{% endblock %}