{% extends 'base.html.twig' %}

{% block title %}reset password{% endblock %}

{% block body %}
Pour changer votre mot de passe, allez sur: <a href="{{ url('reset_password', {"token": token}) }}">changer votre mot de passe</a>.
Thanks!
{% endblock %}