{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
Pour changer votre mot de passe, allez sur: <a href="{{ url('reset_password', {"token": token}) }}">Changer votre mot de passe</a>.
Merci!
{% endblock %}