{% extends 'base.html.twig' %}

{% block title %}Vérifier votre email{% endblock %}

{% block body %}
Pour vous connecter, allez sur: <a href="{{ url('app_verify_email', {"token": token}) }}">Comfirmez votre email</a>.
Merci!
{% endblock %}