@media screen and (max-width: 900px) {
  .bg {
    height: 750px;
  }

  .imagetrick {
    width: 720px;
    height: 575px;
  }

  .com-image-trick{
    width: 720px;
  }

  .button-add-trick {
    margin-bottom: 190px;
  }
}
