@media screen and (max-width: 1080px) {
  .bg {
    height: 850px;
  }

  .pagination {
    margin-bottom: 85px;
  }

  .no-comment {
    margin-bottom: 190px;
  }

  .button-register {
    margin-bottom: 160px;
  }

  .button-up {
    margin-bottom: 170px;
  }
}
