.bg {
  width: 100%;
  height: auto;
  top: -15px;
  position: relative;
}

.button {
  position: relative;
  top: -125px;
}

.trick {
  margin-top: 15px;
}

.boom {
  margin-top: 100px;
  top: 100px;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.imagetrick {
  width: 700px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.bgbg {
  width: 200px;
  height: 125px;
}

.ok {
  margin-top: 30px;
}

.card{
  height: 370px;
}

.pg {
  padding-top: 3px;
  width: 100%;
  height: 260px;
}