.header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
}

ul {
  list-style: none;
}

/* Home page */

.home-picture {
  background-image: url("../uploads/pictures/homepage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.slogan {
  color: black;
  margin-top: -375px;
  margin-bottom: 375px;
}

.slogan h1 {
  font-size: 5vw;
}

.bg {
  height: auto;
  max-width: 100%;
  display: block;
}

.trick-add {
  margin-top: -50px;
}

.trick {
  margin-top: -50px;
}

.border-tricks {
  border: 3px solid;
}

.card {
  height: 370px;
}

.pg {
  padding-top: 3px;
  width: 100%;
  height: 260px;
}

.button {
  position: relative;
  top: -165px;
}

.full-trick {
  margin-left: 10px;
  margin-right: 10px;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.scale-up-center:hover {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* Comment page */

.icon {
  margin-left: 77vw;
  margin-top: -70px;
  margin-bottom: 70px;
}

.return {
  margin-top: 60px;
}

.imagetrick {
  width: 720px;
  height: 575px;
  margin-bottom: 25px;
}

.icon-comment {
  width: 4vw;
  height: 4vw;
}

.com-image-trick {
  width: 720px;
}

.images-comment {
  width: 200px;
  height: 125px;
}

.none {
  display: none;
}

/* Login page */

.foot {
  position: absolute;
}

/* One trick page */

.trick-delete {
  margin-top: 10px;
  top: 10px;
}

/* One trick page */

.button-add-trick {
  margin-bottom: 150px;
}

/* form video and form image page */

.footer {
  position: absolute;
}
