@media screen and (max-width: 770px) {
  .bg {
    height: 500px;
  }

  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  .col-4 {
    max-width: 300px;
  }

  .button-up {
    margin-bottom: 175px;
  }

  .pagination {
    margin-bottom: 90px;
  }

  .no-comment {
    margin-bottom: 250px;
  }

  .load-media {
    display: none;
  }

  .imagetrick {
    width: 620px;
    height: 475px;
  }

  .button-register {
    margin-bottom: 190px;
  }

  .none {
    display: block;
  }

  .button-add-trick {
    margin-bottom: 200px;
  }
}
