@media screen and (max-width: 500px) {
  .imagetrick {
    width: 350px !important;
    height: 205px !important;
  }

  .com-image-trick {
    width: 350px !important;
  }

  .return {
    margin-top: 100px !important;
  }
}
