@media screen and (max-width: 600px) {
  .imagetrick {
    width: 470px;
    height: 325px;
  }

  .com-image-trick {
    width: 470px;
  }

  .button-register {
    margin-bottom: -190px !important;
  }

  .button-add-trick {
    margin-bottom: 240px !important;
  }

  .foot {
    margin-bottom: -100px;
  }

  .button-login {
    margin-bottom: 250px !important;
  }

  .file-user {
    overflow: hidden;
  }

  .load-media {
    display: none;
  }
}
