<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/style1280.css">
        <link rel="stylesheet" href="/css/style1080.css">
        <link rel="stylesheet" href="/css/style900.css">
        <link rel="stylesheet" href="/css/style770.css">
        <link rel="stylesheet" href="/css/style600.css">
        <link rel="stylesheet" href="/css/style500.css">
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script 
        src="https://code.jquery.com/jquery-2.2.4.min.js" 
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" 
        crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
